<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>MakeVideo</title>
    <link rel="stylesheet" href="static/MakeVideoApp/css/index.css">
    <script src="static/MakeVideoApp/javascript/index.js"></script>
</head>
<body>
    <h1>
        <center>
            MakeVideo
        </center>
    </h1>
    <p>
        <center>
            {{ message }}
        </center>
    </p>
    <form action="{% url 'MakeVideoApp:index' %}" 
          method="POST">
        {% csrf_token %}
        <center>
            <input type="submit" name="button" value="実行"> 
            <input type="submit" name="reset" value="リセット"> 
        </center>
    </form>
</body>
</html>